.nav-menu{
background-color:#104e4b;
/* opacity: 95%; */
}
#links {
color: white;
}
#collasible-nav-dropdown{
color: white;
}
.main-image{
width: 98%;


}
/* .trying{
height: 540px;
} */
.main-image1{
width: 100%;
height: 30%;
}
.main-image1 :hover{
width: 200%;
height: 30%;
}
.menu-image{
width: 100%;
height: 80%;
}
#heading-four{
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
font-size: 50px;;
text-align: center;
color: burlywood;
border-bottom-style: solid;
border-width: thin;
}
#paragraph{
text-align: center;
font-size:large;
font-family: 'Times New Roman', Times, serif;
}
#heading-two{
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
#heading-two-two{
text-align: center;
font-weight: bold;
font-family:italic;
}
.reserve-button{
background-color: burlywood;


}
#container{
text-align: center;
}

#footer-card{
font-family: 'Times New Roman', Times, serif;
background-color: #104e4b;
color: white;
border-bottom-color:   white;



}
#footer{
text-align: center;
font-family: 'Times New Roman', Times, serif;
background-color:#104e4b;
color: white;
border-bottom-color:   white;

height: 40px;
}
#footer-headings{
text-decoration-line: underline;
}
#footer-paragraphs{
border-right-style:  solid;
border-width: thin;
}
#dailog-content{
color: #034d43;
}
